.sign-up {
    width: 100%;
    z-index: 9999;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  
  .sign-up-left {
    flex: 2;
  }
  
  .sign-up-left img {
    border-radius: 10px 0px 0px;
    width: 100%;
    object-fit: cover;
    height: 100%;
    
  }
  
  .sign-up-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  
  .sign-up-logo img {
    width: 75px;
    height: 60px;
    margin: 1.5rem;
    justify-self: center;
  }
  
  .sign-up-text {
    text-align:start;
    margin-bottom: 15px;
  }

  .sign-up-text h3 {
    font-family: var(--font-main);
    font-weight: 550;
    color: #474947;
  }

  .sign-up-text p {
    font-family: var(--font-main);
    font-weight: 250;
    justify-self: flex-start;
    font-size: 0.9rem;
    font-family: var(--font-main);
  }
  
  .google-btn {
    margin-bottom: 20px;
    width: 100%; 
    padding: 10px; 
    height: 40px;
    border-radius: 5px; 
   border: 0.5px  #E8E8E8 solid;
   gap: 5px;
    display: inline-flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 1px;
    cursor: pointer;
  }

  .google-btn:hover {
    background:rgb(226, 247, 0);
    
  }

  .google-btn p {
    align-items: center;
    font-family: var(--font-main);
    font-size: 0.9rem;
    font-weight: 250;
  }

  .span-text {
    font-weight: 600;
    color: #474947;
    font-family: var(--font-main);
    font-size: 12px;
    word-wrap: break-word;
    margin-bottom: 20px;
  }
  
  .google-btn img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .forgot-password {
    text-align: right;
  }

  .password-toggle {
    position: absolute;
    right: 10%;
    bottom: 20%;
  }

  .label-text {
    font-family: var(--font-main);
    font-size: 0.8rem;
  }
 
  .submit-btn {
    display: flex;
    width: 26.25rem;
    padding: 0.8125rem 0.625rem 0.75rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.8125rem;
    border: 2px #E8E8E8 solid;
    border-radius: 6px;
    background: #7F265B;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .submit-btn:hover {
    background-color: #474947;
  }
  
  /* Additional styles for spacing */
  .sign-up-right {
    padding-top: 50px;
  }

  @media screen and (max-width: 1024px) {
    .sign-up-left img {
        height: 100%;
        width: 100%;
    }
  }
 

  @media (max-width: 768px) {
    .sign-up {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
  
    .sign-up-left img {
      width: 100%;
      border-radius: 10px;
    }
  
    .sign-up-right {
        width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
  
    .google-btn {
      width: 70%;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 650px){
    .sign-up{
        width: 100%;
    }

    .sign-up-left img {
        height: 50vh;
    }

    .sign-up-right {
        margin-top: 0;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .google-btn {
        width: 100%;
    }

    .sign-up-right .sign-up-text {
        text-align: center;
    }

    .submit-btn {
        width: 100%;
    }
  }
 