.sign-up {
    width: 100%;
    padding: 0rem 1rem;
    z-index: 1;
    position: absolute;
    top: 15%;
    display: flex;
    background-color: aqua;
}

.sign-up-left img {
    width: 50%;
}

.sign-up-right img {
    width: 25px;
    height: 25px;
}