.sign-up {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
}

.sign-up-left img {
    width: 50%;
}

.sign-up-right img {
    width: 25px;
    height: 25px;
}