/* Testimonials.css */
.testimony-section {
  padding: 4rem 0;
}

.testimony-section .subheading {
  margin-top: 20px;
  display: block;
  font-size: 0.9rem;
  font-family: var(--font-main);
  font-weight: 350;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #443f3f;
  margin-bottom: 8px;
}

.testimony-section h2 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.75rem;
  font-family: var(--font-main);
  color: #322c2c;
  margin-bottom: 30px;
}

.testimony-section p {
  font-size: 0.9rem;
  font-weight: 200;
  font-family: var(--font-main);
  letter-spacing: 0.05rem;
  color: #777;
  margin-bottom: 30px;
}

.slick-slider {
  position: relative;
  display: block;
}

.slick-slider .slick-slide {
  padding: 0 15px;
}

.slick-slider .slick-slide .testimonial-item {
  text-align: center;
}

.slick-slider .slick-slide .text {
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.slick-slider .slick-slide .text img {
  width: 3.1rem;
  height: 3.1rem;
}

.slick-slider .slick-slide .text p {
  font-size: 0.9rem;
  color: #555;
  font-family: var(--font-main);
  margin-bottom: 15px;
}

.slick-slider .slick-slide .text .name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.slick-slider .slick-slide .text .position {
  font-size: 16px;
  color: #0b63f1;
}

.slick-slider .slick-dots {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slick-slider .slick-dots {
  display: inline-block;
  margin: 0 5px;
}

.slick-slider .slick-dots li button {
  display: block;
  border-radius: 50%;
  background-color: #080808;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
}

.slick-slider .slick-dots li.slick-active button {
  background-color: #094bb4;
}

@media (max-width: 768px) {
  .slick-slider .slick-dots {
    display: none;
  }
}
