#news, #news-detail {
    padding-top: 100px;
    padding-bottom: 80px;
    background: #f9f9f9;
    font-family: var(--font-main);
  }

  #news-detail blockquote {
    margin: 30px 0;
    padding: 0.6rem 1rem;
    font-size: 1.0rem;
    font-weight: 3000;
    line-height: 1.3rem;
    background-color: #f9f9f9;
    color: #2b2b2b;
    border-left: solid 5px #dfd9d9 ;
  }

  .news-author h4 {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1.4rem;
  }

  .news-author p {
    padding-top: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #5a5a5a;
  }

  .recent-post h4 {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1.4rem;
  }

  .media {
    padding:10px;
  }

  .media-heading a{
    text-decoration: none;
    color: #2b2b2b;
    font-size: 0.8rem;
  }

  .news-categories h4 {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1.4rem;
  }

  .news-detail-thumb .news-image img {
    border-radius: 10px;
  }

  .news-detail-thumb h3 {
    margin-bottom: 8px;
    font-weight: 600;
    color: #393939;
  }

  .news-detail-thumb p {
    font-size: 0.75rem;
    color: #5a5a5a;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .news-image {
    margin-bottom: 30px;
    position: relative;
  }

  .news-image img {
    width: 100%;
  }

  .news-detail-thumb ul {
    margin: 32px 12px 22px 0px;
    font-size: 0.8rem;
    font-weight: 350;
    line-height: 1.1rem;
  }

  .news-detail-thumb ul li {
    list-style: circle;
    font-weight: normal;
    padding: 6px 12px 6px 0px;
  }

  .news-sidebar {
    margin-top: 16px;
  }

  .news-social-share {
    text-align: center;
    padding-top: 22px;
  }

  .news-social-share h4 {
    font-weight: 600;
    color: #393939;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .news-social-share .btn {
    border-radius: 100px;
    border: none;
    font-size: 10px;
    font-weight: 600;
    margin: 2px 6px;
    padding: 8px 14px;
  }

  .news-social-share .btn-primary {
    background: #3b5998;
  }

  .news-social-share .btn-success {
    background: #1da1f2;
  }

  .news-social-share .btn-danger {
    background: #dd4b39;
  }

  .news-social-share a .fa {
    padding-right: 4px;
  }

  .news-social-share .btn-black {
    background-color: #000;
    color: #dfd9d9;
  }

  .recent-post {
    padding-top: 2px;
    padding-bottom: 18px;
  }

  .recent-post .media img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-right: 5px;
  }

  .recent-post .media-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
    margin-top: 5px;
  }

  .news-categories {
    margin-top: 8px;
  }

  .news-categories li a {
    color: #2b2b2b;
  }

  .news-ads {
    background: #ffffff;
    border-right: 4px solid #2b2b2b;
    padding: 42px;
    text-align: center;
    margin: 26px 0 26px 0;
  }

  .news-ads.sidebar-ads {
    border-left: 4px solid #2b2b2b;
    border-right: 0px;
  }

  .news-ads h4 {
    font-size: 18px;
  }

  .news-tags h4 {
    padding-bottom: 6px;
  }

  .news-categories li,
  .news-tags li {
    width: fit-content;
    list-style: none;
    display: inline-block;
    margin: 4px;
  }

  .news-tags li a {
    background: #393939;
    border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    float: left;
    min-width: 30px;
    padding: 6px 12px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .news-tags li a:hover {
    background: #4267b2;
  }

  .media .media-object .img-responsive {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }